.cardDiv {
    width:41em;
    height:22em;
    /* color:#777;  */
    /* background-color:#F0F0F0; */
    background-color: #2F526E;
    margin:5% auto 0 auto;
    border-radius:0.4em;
    border-top-right-radius:0.37em;
    border-bottom-right-radius:0.37em;
    box-shadow:0 0 3px rgba(0,0,0,0.15);
    transition:box-shadow 200ms ease-in;
    color:#EDE9E7;

  }
  
  .cardDiv:before{
    content:'';
    /* background: linear-gradient(270deg, #2ae6f6, #2af6be, #81ffdc); */
    /* background: linear-gradient(90deg, rgba(147,69,157,1) 0%, rgba(138,52,149,1) 22%, rgba(236,100,219,0.8099614845938375) 56%); */
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(138,52,149,1) 22%);


    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    background-size: 600% 600%;
    background-position:30% 70%;
    width:12em;
    height:22em;
    display:block;
    position:absolute;
    
  }
    
  .card {
    padding:1.6em 2em 2em 14em;
    }
      
  .cardName {
    /* color:#008080; */
    color: #EDE9E7;
    font-size:2.2em;
    letter-spacing:1px;
    }
      
  hr {
    height:2px;
    background: #93459d;
    border: none;
    /* background:blue; */
    margin:1em 0;
    width:85%;
  }
  
  .cardAddress, .cardPhoneNumber, .cardEmail, .cardWebsite{
    font-family:'Ubuntu Mono',monospace;
    margin:1em 0;
    font-weight:700;
    color: #EDE9E7;

  }

  .card a{
    font-size: 2rem;
    margin-right: 1rem;
    color: #EDE9E7;
    text-decoration: none;
  }

